<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script id="input" src="res.js"></script>
	<script>
		setInterval(function(){
			if(document.querySelector("#input")){
				document.head.removeChild(document.querySelector("#input"));
			}
			input=document.createElement("script");
			input.id="input";
			input.src="res.js";
			document.head.appendChild(input);
		},1000);
	</script>
	<style>
		body{
			font-size: 30px;
		}
		.controller{
			height: 100%;
			width: 100%;
		}
		.searchresult{
			font-family: monospace;
		}
		.error{
			background: red;
		}
		.true{
			background:red;
		}
	</style>
</head>
<body ng-app="app">
	<div ng-controller="controller" class="controller {{error}}">
		<div>
			Last ran: {{res.start}}
			<br>
			Runs every 5 minutes
			</br>
			{{since}} seconds since last test <span class=error ng-if="since>600">Build may be broken, check script</span>
		</div>
		<br>
		<div ng-repeat="machine in res.search.machines" class=searchresult>
			{{machine.machine}} returns {{machine.result}}
		</div>
	</div>
</body>
<script>
app = angular.module("app", []);
app.controller("controller", function($scope,$interval){
	$interval(function(){
		$scope.res = res;
		$scope.since = Math.floor((Date.now() - new Date(res.start).valueOf())/1000);
	},1000);
	$scope.error=false;
});
</script>